#mainBlock {
    background: #b5ffc5;
    border-radius: 15px;
    position: absolute;
    left: 20px;
    top: 20px;
    min-width: 200px;
    max-width: fit-content;
    max-height: fit-content;
}

.Style1 {
    background: #b5ffc5;
    color: #ff001d;
    border: 1px dashed #ff001d;
    border-radius: 10px;
}

.Input {
    width: 150px;
    height: 30px;
    display: block;
    margin: 5px auto 5px auto;
}

.Button {
    display: block;
    margin: 5px auto 5px auto;
    padding: 5px;
}

.Button:hover {
    border: 1px solid #ff001d;
}

.Text {
    color: #ff001d;
    text-align: center;
}

#outerText {
    min-height: 123px;
}

#select1 {
    height: 30px;
    width: 50px;
    display: block;
    margin: 5px auto 5px auto;
}

#text1 {
    opacity: 0.4;
}

#text2 {
    opacity: 0.6;
}
